   body {
      
      background-color: darkred;
    }

    .movies {
      list-style: none;
    }

    .thumb {
      float: left;
      margin: -0.5em 1em 1.5em 0;
      padding-bottom: 1em;
      height: 50px;
      width: 100px;
    }

    .movies li {
      height: 170px;
      padding-top: 15px;
  
      
    }

       /** Detail View **/
    img.movie {
      width: 100%;
    }

    ul.movie-thumbs {
      margin: 0;
      list-style: none;
    }

    ul.movie-thumbs li {
      border: 1px solid black;
      display: inline-block;
      margin: 1em;
      background-color: white;
    }

    ul.movie-thumbs img {
      height: 100px;
      width: 100px;
      padding: 1em;
    }

    span{
      font-weight: bold;
      font-size: 1.2em;
    }

    dt {
      font-weight: bold;
    }

    h1 {
      border-bottom: 1px solid gray;
    }

    .jumbotron {
      background-color: white;
      padding-top: 10px;
      font-size: 5px;
    }

    .search-options {
      color:white;
      font-weight:bold;
    }

      .query-text {
      color:black;
      font-weight:bolder;
      width: 100%;

    }


    /** css for nav bar **/

    .banner{
        width: 100%;
    }

    .home-text{
      font-size: 5px;
    }

.jumbotron p{
  font-size: 10px;
}

.movie-item{
  padding: 5px;
  background-color:  #222222;
  margin-bottom:10px;

}
.movie-item img{
  width: 100%;
}

.btn{
  color: white;
  font-weight: bolder;
  width: 100%;
  background-color:  #222222;
  border-color: #222222;
}

.btn-info{
  color: white;
  font-weight: bolder;
  width: 100%;
  background-color:  #222222;
  border-color:  #222222;
}


.movie-form{
  width: 100%;
  font-weight: bolder;
  color: black;
}

.movie-form h4{
  color: white;
  font-weight: bolder;
}

.reviews{

 width: 100%;
 font-size: 16px; 
  list-style: none;
  padding: none;
  margin: none;
}

.action-button{
  width:30%;
}



