<div class="row"> 
   <div class="col-md-2">
      <!--Sidebar content-->
      <div class = "search-options">
      Search: <input ng-model="query" class = "query-text">
      Sort by:
      </div>
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
          <br>
      <br>
      <a href="#/movies" class="btn btn-info" role="button">Alternative Search</a>

      <br>
      <form name="movieForm" novalidate ng-submit="addMovie()"
                style="margin-top:30px;" class="movie-form">
                <h4>Add a new movie</h4>

                <div class="form-group">
                  <input type="text" name="name" 
                    class="form-control" placeholder="Name" 
                    ng-model="newMovie.name" 
                    ng-required ng-minlength="3" ng-maxlength="100"></input>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="id"
                    ng-model="newMovie.id"></input>
                </div>
                <div class="form-group">
                  <input type="text" name="imageUrl"
                  class="form-control" placeholder="imageUrl"
                  ng-model="newMovie.imageUrl" ng-required> </input>
                </div>
                 <div class="form-group">
                  <input type="text" name="age"
                  class="form-control" placeholder="age"
                  ng-model="newMovie.age" ng-required> </input>
                </div>
                <button type="submit" class="btn btn-primary"
                    ng-disabled="movieForm.$pristine || (movieForm.$dirty && movieForm.$invalid) ">
                Post</button>
              </form>
              <br>
    </div>

     <div class="col-md-10">

     <ul  class="movies">
        <li ng-repeat="movie in movies | filter:{name: query } | orderBy:orderProp" class="thumbnail">
           <a href="#/movies/{{movie.id}}" class="thumb"><img ng-src="{{movie.imageUrl}}"></a>
           <a href="#/movies/{{movie.id}}">{{movie.name}}</a>
           <p>{{movie.snippet}}</p>
        </li>
      </ul>
    </div>
   


   </div>