

<div class="jumbotron">
  		
        <h2>About</h2>
         <p class ="home-text">
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue nibh sed risus maximus, ac tincidunt nulla scelerisque. Praesent tempor nibh erat, id ullamcorper sem viverra sit amet. Ut eleifend, felis vitae accumsan bibendum, purus dolor pulvinar ante, at fringilla neque augue quis felis. Sed id nisi justo. Curabitur pulvinar imperdiet nibh, eu aliquam leo. Donec et augue id leo pretium blandit. Pellentesque et pretium nisl. Nunc faucibus aliquet urna, non egestas eros tincidunt nec. Sed dictum sem et sagittis elementum. Curabitur dui dolor, porttitor sit amet volutpat vel, gravida ut mi. Ut fermentum ligula arcu, sit amet vestibulum tortor 
        	</p>
        
       
 
    </div>    