<div class="jumbotron">
     <div class="row">

       <div class="col-sm-2">
       <h3> {{movie.name}} </h3>
        <img ng-src="{{movie.imageUrl}}" class="movie">
       </div>

      <div class="col-sm-8" style="padding-bottom: 30px; padding-top: 30px">
        
         <p >{{movie.snippet}}</p>
         <p >Overall Rating {{movie.rating}}</p>
          <div class="col-sm-4" >
          <a href="#/movies" class="btn btn-danger" role="button" ng-click="deletemovie(movie)" >Delete Movie</a>
          </div>
        </br>

       </div>
       <div class="col-sm-4">
       <form name="reviewForm" novalidate ng-submit="addReview()"
                class="movie-form">
                <div class="form-group">
                  <input type="text" name="author" 
                    class="form-control" placeholder="Please enter your name" 
                    ng-model="newReview.author" 
                    ng-required ng-minlength="3" ng-maxlength="100"></input>
                </div>
                <div class="form-group">

                  <textarea class="form-control" type="text" cols="280" rows ="3" name="body" placeholder="Write something..." ng-model="newReview.body"></textarea>
                <h5>Please rate this movie between 0 and 10</h5>
                <input name="rating" type="number" min="0" max="10" step="0.5" ng-model="newReview.rating" style="height: 20px; font-size: large;" ng-init="newReview.rating=0" >
                </div>
                <button type="submit" class="btn btn-primary"
                    ng-disabled="reviewForm.$pristine || (reviewForm.$dirty && reviewForm.$invalid) ">
                Post</button>
              </form>
            </div>          
     </div>      
     </div>
    </div>    

    <h1 class ="search-options">Reviews</h1>
            <div>   
              <div >
                <table class="reviewsTable">
                  <thead>
                    <th>Name</th>
                    <th>Review</th>
                    <th>Rating</th>
             
                  </thead>

          

                  <tbody ng-repeat="review in movie.reviews" ng-switch="review.state">
                    <!-- NEW START -->
       <tr ng-switch-when="edit">
          <td>
            <input type="text" class="form-control" ng-model="review.author" />
          </td>
          <td>
            <input type="text" class="form-control" ng-model="review.body" />
          </td>
            <td style="width: 100px;">
            <input type="number" class="form-control" ng-model="review.rating" min="0" max="10" step="0.5" />
          </td>
          <td>
            <input type="button" class="btn btn-success" ng-click="saveReview(review)" value="Save" />
          </td>
          <td>
            <input type="button" class="btn btn-danger" ng-click="cancelEdit(review)" value="Cancel" />
          </td>
        </tr>
        <!-- NEW END -->
           
        <!-- Deleted Mode Template -->
        <tr class="danger" ng-switch-when="deleted">
          <td>{{review.author}}</td>
          <td>{{review.body}}</td>
          <td>{{review.rating}}</td>
          <td>
            <input type="button" class="btn btn-danger" ng-click="confirmDelete($index)"  value="Confirm" />
          </td>
          <td>
            <input type="button" class="btn btn-success" ng-click="undoDelete(review)" value="Undo"/>
          </td>
        </tr>

        <!-- Normal Mode Template -->
        <tr ng-switch-default>
          <td>{{review.author}}</td>
          <td>{{review.body}}</td>
          <td>{{review.rating}}</td>
          <td>
            <input type="button" class="btn btn-primary" ng-click="editReview(review)" value="Edit" />
          </td>
          <td>
            <input type="button" class="btn btn-danger" ng-click="deleteReview(review)" value="Delete"/>
          </td>
        </tr>
      </tbody>

                </table>
              </div>
            </div>