
                           <div class="col-sm-5 center">
                          <div class="form-box">
                            <div class="form-top">
                              <div class="form-top-left">
                                <h3 class="search-options">Sign up now</h3>
                                  <p class="search-options">Fill in the form below to get instant access:</p>
                              </div>
                              <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                              </div>
                              </div>
                              <div class="form-bottom">
                            <form role="form" action="" method="post" class="registration-form">
              
                                <div class="form-group">
                                  <label class="sr-only" for="form-email">Email</label>
                                  <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" ng-model="loginCtl.email" id="form-email">
                                </div>
                            <div class="form-group">
                                  <label class="sr-only" for="form-password">Password</label>
                                  <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" ng-model="loginCtl.password" id="form-password">
                                </div>
                                <button type="submit" class="btn" ng-click="loginCtl.signUp()">Sign me up!</button>
                            </form>
                          </div>
                          </div>
                        </div>
